<section>
	<h2>There are {{sauces.length}} sauces</h2>
	{{#each sauces}} <!-- for each sauce in sauces, create this html -->
		<article class="clearfix item-container block">
			<h2>{{name}}</h2>
			<img class="item-img" src="{{image}}" />
			<a class="btn" href="/sauces/{{id}}">See Sauce</a>
		</article>
	{{/each}}
</section>